<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fit.ba.rukaljubavi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ZahtjeviDonatoraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".AktivneDonacijeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".VaseDonacijeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".DonacijaDetaljiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".AzurirajKategorijeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".LozinkaAzurirajActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".BenefiktorLicniPodaciAzurirajActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".DonatorLicniPodaciAzurirajActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".AzurirajPodatkeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".ZahtjeviBenefiktoraListaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".NoviZahtjevZaDonacijomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".NovaDonacijaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".BenefiktorProfilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/homePage" />
        <activity
            android:name=".BenefiktoriListaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".BenefiktorHomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/homePage"/>
        <activity
            android:name=".DonatorProfilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/homePage"/>
        <activity
            android:name=".DonatorKategorijeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".BenefiktorKategorijeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".PDVBrojPotvrdaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".RegistracijaIzborActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".RegistracijaBenefiktorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".RegistracijaDonatorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".PrijavaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBar"/>
        <activity
            android:name=".DonatorHomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/homePage"/>
    </application>

</manifest>